body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: hsl(0, 0%, 30%);
  border: none;
  color: white;
  font-size: 1.5rem;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
  cursor: pointer;
}
button:active {
  background-color: hsl(0, 0%, 50%);
}
.operand {
  background-color: orange;
}
.operand:hover {
  background-color: rgb(255, 180, 42);
}
.operand:active {
  background-color: rgb(255, 191, 72);
}
#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
#calculator {
  max-width: 300px;
  background-color: hsl(0, 0%, 15%);
  overflow: hidden;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid hsl(0, 0%, 30%);
}
#display {
  width: 200px;
  background-color: hsl(0, 0%, 70%);
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  color:hsl(0, 0%, 15%);
  text-align: right;
  font-size: 2.5rem;
}
